<h1 mat-dialog-title>
  <ng-template [ngIf]="!edit">New</ng-template>
  <ng-template [ngIf]="edit">Edit</ng-template> Classroom
</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around">
    <mat-form-field class="w-100">
      <input matInput placeholder="classNumber" type="number" [formControl]="form.controls['classNumber']" required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-around" *ngIf="!edit;else edit_form">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Add</button>
    <a mat-stroked-button color="accent" class="mt-1" (click)="addMany()">Add many</a>
  </div>
  <ng-template #edit_form>
    <div mat-dialog-actions fxLayout="column" fxLayoutAlign="space-around">
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Edit</button>
    </div>
  </ng-template>
</form>
