<div class="container" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <h1 mat-dialog-title>Subir fichero de foto</h1>
  <div id="uploadContent" class="w-100">
    <input type="file" name="photo" #file (change)="onFilesAdded()" [disabled]="uploading || uploadSuccessful"
      value="Seleccionar fichero" accept="image/*" />
    <p>Drag your images here or click in this area.</p>
  </div>
  <!-- This is the content of the dialog, containing a list of the files to upload -->
  <mat-dialog-content fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let file of files">

        <h4 mat-line>{{file.name}}</h4>

        <mat-progress-bar *ngIf="progress" mode="determinate" [value]="progress[file.name].progress | async">
        </mat-progress-bar>

      </mat-list-item>
    </mat-list>
  </mat-dialog-content>

  <!-- This are the actions of the dialog, containing the primary and the cancel button-->
  <mat-dialog-actions class="actions">
    <button mat-raised-button color="primary" class="w-100" [disabled]="!canBeClosed" (click)="closeDialog()">{{primaryButtonText}}</button>
    <button mat-stroked-button color="accent" *ngIf="showCancelButton" class="w-100 ml-0 mt-1" mat-button mat-dialog-close>Cancelar</button>
  </mat-dialog-actions>
</div>