<div class="dashboard-container">
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    <mat-sidenav-container class="ma-0 h-100">
        <mat-sidenav #sidenav fixedTopGap="56" [mode]="isOver() ? 'over' : 'side'" [opened]="!isOver()">
                <app-sidenav-list (sidenavClose)="isOver() ? sidenav.close(): null"></app-sidenav-list>
            </mat-sidenav>
        <mat-sidenav-content class="pa-2">
            <app-root class="pa-4"></app-root>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>